.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: none!important;
}

#chips div:nth-child(1)>.chip {
    color: white;
    background-color: #039BE5;
}

#chips div:nth-child(3)>.chip {
    color: white;
    background-color: #E91E63;
}

#chips div:nth-child(2)>.chip {
    color: white;
    background-color: #9C27B0;
}

#chips div:nth-child(4)>.chip {
    color: white;
    background-color: #00897B;
}
