a{
  -webkit-transition: all 0.3s ease-out ;
  -moz-transition: all 0.3s ease-out ;
  transition: all 0.3s ease-out ;
}
.card{
    transition: all 0.3s ease-out ;
}
.card:hover{
  box-shadow: 0 8px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12)!important;
}
.no-line    {
  /* Applies to all unvisited links */
  text-decoration:  none!important;
  color:            black!important;
  }
